# Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
# Pods - for those of you who use CocoaPods
Pods
Citybike Finder.xcworkspace/xcuserdata/epicore.xcuserdatad/UserInterfaceState.xcuserstate
Pods/Pods.xcodeproj/xcuserdata/epicore.xcuserdatad/xcschemes/xcschememanagement.plist
Pods.xcscheme
Podfile.lock
Manifest.lock
project.pbxproj
Pods-acknowledgements.markdown
Pods-acknowledgements.plist
Pods-frameworks.sh
Pods.debug.xcconfig
Pods.release.xcconfig
